<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<h1>User Information</h1>
	<div><label>ID</label><label><%=id%></label></div>
	<div><label>PWD</label><label><%=pwd%></label></div>

</body>
</html>