<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	
		<h1>logined Page</h1>
	
		<p>Welcome <%=id%>, this page is allowed only logined user</p>
		
		<a href="logout">Logout</a>
	
	</form>

</body>
</html>